/* black: 020202 contrast: bf362a light: bead85 lightgreen: 04471c darkgreen: 002f10 */

body {
  background-color: #002F10 
}

h1 {
  text-align: center;
  color: #BEAD85;
  font-size: 120px;
}

article {
  margin: 25px;
	border-radius: 25px;
  color: 020202;
  background-color: #BEAD85;
  border-style: solid;
  border-color: #BF362A;
  border-width: 10px;
  margin: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
    width: 80%;
    margin-left: 20px;
}

button {
    margin-left: 20px;
}

#postcontent {
  height: 150px;
}